{% extends "multigtfs/base.html" %}
{% load staticfiles %}
{% block head_extra %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="">
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin="">
    </script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

<script src="{% static 'javascript/validatecsrf.js' %}"></script>
<script src="{% static 'javascript/getRoute.js' %}"></script>
{% endblock %}

{% block page_title%}Default Map{%endblock%}

{% block nav_home_active_class %} class="active"{% endblock %}

{% block page_top_content_elem %}
Test to include a Leaflet.js map into a django project
{% endblock %}

{% block page_middle_content %}
<section class="text-center">
    <div id="map">
    </div>
</section>

<section class="text-center">
    <!-- <a href="{% url 'feed_list' %}" class="btn btn-primary" role="button">Feed List</a>
    <a href="{% url 'admin:index' %}" class="btn btn-primary" role="button">Admin</a> -->

    <form action="{% url 'getlocation' %}" method="POST" id="post-form">
        {% csrf_token %}
        <!-- <div class="fieldWrapper" id="the_post">
            {{ form.text }}
        </div> -->
        <select name="toFind">
            <option value="stop">stops</option>
            <option value="shape">shapes</option>
            <option value="trip">trips</option>
            <option value="route">routes</option>
        </select>
        <input type="submit" value="Display" class="tiny button">
    </form>
    <div id="results"></div> <!-- Shape data printed here-->

    <form action="{% url 'getshortest' %}" method="POST" id="path-form">
        {% csrf_token %}
        From<input id='alat' type="text" placeholder="latitude">
        <input id='alon' type="text" placeholder="longitude"><br />
        To <input id='blat' type="text" placeholder="latitude">
        <input id='blon' type="text" placeholder="longitude">
        <select id="mode" name="mode">
            <option value="foot">foot</option>
            <option value="car">car</option>
            <option value="cycle">cycle</option>
        </select>
        <input type="submit" value="Get Path" class="tiny button">
    </form>
    <form id="nearBusStops">
        <input type="submit" value="Show Near Stops" class="tiny button">
    </form>
    <form id="nearBusRoutes">
        <input type="submit" value="Show Near Routes" class="tiny button">
    </form>
    <form id="shortestBusRoute">
        <input type="submit" value="Shortest Bus Route" class="tiny button">
    </form>
</section>
{% endblock %}

{% block body_script %}

<script>
    // Initialise Leaflet Map
    var startCoords = [51.8983, -8.4726] // Cork City Centre
    var typeString;
    var coords; // Coords passed in ewkd type
    // var markers = [];
    var start;
    var end;
    var layers = [];
    var editableLayers;
    var pathlayer;
    var toFind;
    var mode;
    var route;
    var alat;
    var alon;
    var blat;
    var blon;
    // Load map after page
    window.addEventListener('DOMContentLoaded', getLocation(), false);

    function getLocation() {
        // Attempts to get the location of the user
        if (navigator.geolocation) {
            return navigator.geolocation.getCurrentPosition(setViewPosition);
        } else {
            console.log("Geolocation is not supported by this browser.");
            main();
        }
    };

    function setViewPosition(position) {
        startCoords = [position.coords.latitude, position.coords.longitude];
        main();
    };

    function main() {
        // Initialise Map with Tiles and controls
        baseMap = L.map('map').setView([startCoords[0], startCoords[1]], 14);

        // Initialise Tiles
        // var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        //     maxZoom: 19,
        //     attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        // });

        var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png', {
            // 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });

        OpenStreetMap_Mapnik.addTo(baseMap)


        // Initialise the FeatureGroup to store editable layers
        editableLayers = new L.FeatureGroup();
        pathlayer = new L.FeatureGroup();

        baseMap.addLayer(editableLayers);
        baseMap.addLayer(pathlayer);

        var pathControls = {
            draw: {
                polgon: false,
                polyline: false,
                circle: false,
                rectangle: false,
                marker: false,
                circlemarker: false,
            },
            edit: {
                featureGroup: pathlayer,
                remove: true,
                edit: false,
            }
        }

        var drawControlOptions = {
            position: 'topright',
            draw: {
                polygon: {
                    allowIntersection: false, // Restricts shapes to simple polygons
                    drawError: {
                        color: 'red', // Color the shape will turn when intersects
                        message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
                    },
                    shapeOptions: {
                        color: '#97009c'
                    }
                },
                // disable toolbar item by setting it to false
                polyline: true,
                circle: false,
                rectangle: false,
                marker: false,
                circlemarker: false,
            },
            edit: {
                featureGroup: editableLayers, //REQUIRED!!
                remove: true,
                edit: false,
            }
        };

        // Initialise the draw control and pass it the FeatureGroup of editable layers
        var drawControl = new L.Control.Draw(drawControlOptions);
        var pathControl = new L.Control.Draw(pathControls);

        baseMap.addControl(pathControl);
        baseMap.addControl(drawControl);

        route = new DrawRoute(baseMap);

        baseMap.on('draw:created', function (e) {
            var type = e.layerType,
                layer = e.layer;

            if (type === 'polygon') {
                // console.log(e.layer._latlngs);
                typeString = 'POLYGON';
                editableLayers.addLayer(layer);
            }
            if (type === 'polyline') {
                typeString = 'POLYLINE';
            }

            coords = e.layer.getLatLngs();

            if (typeString === 'POLYLINE') {
                alat = coords[0].lat
                alon = coords[0].lng
                blat = coords[1].lat
                blon = coords[1].lng

                start = L.marker([alat, alon], { title: 'start' })
                end = L.circle([blat, blon], { title: 'end', radius: 15, color: 'red' })

                pathlayer.addLayer(start)
                pathlayer.addLayer(end)

                document.getElementById("alat").value = alat;
                document.getElementById("alon").value = alon;
                document.getElementById("blat").value = blat;
                document.getElementById("blon").value = blon;
            }

            // editableLayers.addLayer(layer);

            var par = document.createElement('p');
            var node = document.createTextNode('From: ' + alat + ', ' + alon + '\tTo: ' + blat + ', ' + blon);
            par.appendChild(node);

            var element = document.getElementById('results');
            element.appendChild(par);
            layers.push(e);
        });
    }
</script>

<script>
    // Validate User and send Ajax
    mainVali()

    // Submit event caller
    $('#path-form').on('submit', function (event) {
        event.preventDefault();
        console.log(event);
        alat = document.getElementById("alat").value;
        alon = document.getElementById("alon").value;
        blat = document.getElementById("blat").value;
        blon = document.getElementById("blon").value;
        mode = $('#path-form').serializeArray()[1].value;

        console.log(alat, alon, blat, blon, mode);
        getPath();
    });

    $('#nearBusStops').on('submit', function (event) {
        event.preventDefault();

        alat = document.getElementById("alat").value;
        alon = document.getElementById("alon").value;
        blat = document.getElementById("blat").value;
        blon = document.getElementById("blon").value;
        mode = $('#path-form').serializeArray()[1].value;

        console.log(alat, alon, blat, blon, mode);
        getNearStops();
    });

    $('#nearBusRoutes').on('submit', function (event) {
        event.preventDefault();

        alat = document.getElementById("alat").value;
        alon = document.getElementById("alon").value;
        blat = document.getElementById("blat").value;
        blon = document.getElementById("blon").value;

        console.log(alat, alon, blat, blon, mode);
        getNearRoutes();
    });

    $('#shortestBusRoute').on('submit', function (event) {
        event.preventDefault();

        alat = document.getElementById("alat").value;
        alon = document.getElementById("alon").value;
        blat = document.getElementById("blat").value;
        blon = document.getElementById("blon").value;

        console.log(alat, alon, blat, blon, mode);
        let stops = getNearStops();
        getShortestPath(stops);
    });

    function getShortestPath(stops){
        $.ajax({
            url: "{% url 'getShortestBus' %}", // the endpoint
            type: "POST", // http method
            data: { alat: alat, alon: alon, blat: blat, blon: blon, astops: stops.astops, bstops: stops.bstops }, // data sent with the post request

            // handle a successful response
            success: function (json) {
                var response = json;
                console.log(response);
                return response
            },

            error: function (xhr, errmsg, err) {
                // $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                //     " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                return null
            }
        })
    }

    function getNearStops() {
        $.ajax({
            url: "{% url 'getNearBusStops' %}", // the endpoint
            type: "POST", // http method
            data: { alat: alat, alon: alon, blat: blat, blon: blon }, // data sent with the post request

            // handle a successful response
            success: function (json) {
                var response = json;
                console.log(response);
                
                return response
                // showNearStops(response)
            },

            error: function (xhr, errmsg, err) {
                // $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                //     " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                return null
            }
        })
    };

    function getNearRoutes() {
        $.ajax({
            url: "{% url 'getNearBusRoutes' %}", // the endpoint
            type: "POST", // http method
            data: { alat: alat, alon: alon, blat: blat, blon: blon }, // data sent with the post request

            // handle a successful response
            success: function (json) {
                var response = json;
                console.log(response);
                showNearRoutes(response)
            },

            error: function (xhr, errmsg, err) {
                // $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                //     " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        })

    };

    // Event Handler to find shortest path
    function getPath() {
        // var vertexA = 534442374;
        // var vertexB = 534442397;

        $.ajax({
            url: "{% url 'getshortest' %}", // the endpoint
            type: "POST", // http method
            data: { alat: alat, alon: alon, blat: blat, blon: blon, mode: mode }, // data sent with the post request

            // handle a successful response
            success: function (json) {
                var response = json;
                console.log(response);
                showShortestPath(response)
            },

            error: function (xhr, errmsg, err) {
                // $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                //     " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });

        // $.ajax({
        //     url: 'https://data.smartdublin.ie/cgi-bin/rtpi/busstopinformation?stopid',
        //     type: 'GET',

        //     success: function(json) {
        //         console.log('Success');
        //         var response = json;
        //         console.log(response);
        //     }
        // });
    }

    function showNearStops(response) {
        for (let i = 0; i < (response.astops).length; i++) {
            let stop = L.circle([response.astops[i][1], response.astops[i][2]], { riseOnHover: true }).bindPopup('Stop: ' + response.astops[i][0] + '\nDistance: ' + response.astops[i][3] * 149838.673031 + ' m');
            editableLayers.addLayer(stop);
            // stop.on('click', function (e) {
            //     $.ajax({
            //         url: 'http://data.smartdublin.ie/cgi-bin/rtpi/realtimebusinformation?stopid=' + response.astops[i][4],
            //         type: 'GET',

            //         success: function (response) {
            //             console.log(response);

            //         },
            //         error: function () {
            //             console.log(error);
            //         }

            //     })
            // });
        }
        for (let i = 0; i < (response.bstops).length; i++) {
            let stop = L.circle([response.bstops[i][1], response.bstops[i][2]], { riseOnHover: true }).bindPopup('Stop: ' + response.bstops[i][0] + '\nDistance: ' + response.bstops[i][3] * 149838.673031 + ' m');
            editableLayers.addLayer(stop);
        }

    };
    function showShortestPath(response) {

        // Bind route details to popup
        // as WKT
        let path = route.makeLine(response.geom, false, 1.0, route.getColour()).bindPopup(mode + '->' + '\nDistance: ' + response.distance + ' km' + '\nDuration: ' + response.duration + 'mins')
        pathlayer.addLayer(path);

        // console.log(trip);
        //AS GEOJSON
        // editableLayers.addLayer(route.makeLine(response.geom[i], 'geojson', 0.7, route.getColour()));
    };


    function showNearRoutes(response) {

        for (let x = 0; x < (response.trips).length; x++) {
            id = response.trips[x].properties.route_id
            shortName = response.trips[x].properties.route_short_name
            geom = response.trips[x].geometry
            let line = route.makeLine(geom.coordinates, null, 0.7, route.getColour()).bindPopup(shortName);
            editableLayers.addLayer(line);

            line.on('click', function (e) {
                $.ajax({
                    url: 'https://data.smartdublin.ie/cgi-bin/rtpi/routeinformation?routeid=' + e.target.getPopup().getContent() + '&operator=' + 'BE',
                    // url: 'https://data.smartdublin.ie/cgi-bin/rtpi/operatorinformation?format=json' + id + '&operator=' + '01',
                    type: 'GET',

                    success: function (response) {
                        for (let i = 0; i < response.results.length; i++) {
                            for (let x = 0; x < response.results[i].stops.length; x++) {
                                let lat = response.results[i].stops[x].latitude
                                let lon = response.results[i].stops[x].longitude
                                let stop = L.circleMarker([lat, lon], { riseOnHover: true, radius: 10, color: 'white' }).bindPopup(response.results[i].stops[x].shortname)
                                editableLayers.addLayer(stop);
                            }
                        }

                    },
                    error: function () {
                        console.log('Some error');
                    }

                })
            });
        }

    }

    // Submit event caller
    $('#post-form').on('submit', function (event) {
        event.preventDefault();
        // Name of the data we want back
        toFind = $('#post-form').serializeArray()[1].value;

        createPost();
    });

    // Event handler to create POST request
    function createPost() {
        $.ajax({
            url: "{% url 'getlocation' %}", // the endpoint
            type: "POST", // http method
            data: { type: typeString, latlng: JSON.stringify(coords), toFind: toFind }, // data sent with the post request

            // handle a successful response
            success: function (json) {
                // Response Fields shape, toFind, geom,count
                var response = json;
                console.log("success"); // another sanity check
                console.log(response);
                switch (response.toFind) {
                    case 'stop':
                        add_stops(response);
                        break;
                    // console.log(response);
                    case 'shape':
                        add_shape(response);
                        break;
                    case 'trip':
                        // Returns duplicate shapes as some routes have the same shape !!! 
                        // Do not use 
                        add_shape(response);
                        break;
                }
            },

            // handle a non-successful response
            error: function (xhr, errmsg, err) {
                // $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                //     " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    };
    function add_shape(response) {
        if (response.count > 500) {
            console.log('Over 500 shapes to render!');
        }
        for (let i = 0; i < response.count; i++) {
            // let route = new DrawRoute(baseMap);
            // as WKT
            editableLayers.addLayer(route.makeLine(response.geom[i][1], 'wkt', 0.7, route.getColour()).bindPopup(response.geom[i][0]));

            //AS GEOJSON
            // editableLayers.addLayer(route.makeLine(response.geom[i], 'geojson', 0.7, route.getColour()));
        }
    }
    function add_stops(response) {
        if (response.count > 100) {
            // $(results).html("<div class='alert-box alert radius' data-alert> Too Many Stops in this area!</div>")
            console.log('Over 100 Stops');
        }
        // log the returned json to the console

        // console.log(response.count);
        // console.log(response.geom);
        // console.log(response.shape);

        // Add all stops to the map
        for (let i = 0; i < response.count; i++) {
            // let route = new DrawRoute(baseMap);
            let currentStopid = response.geom[i][2];
            let currentStopCoords = response.geom[i][1];
            let currentStopTitle = response.geom[i][0]

            currentStopCoords = route.fixCoordsWKT(currentStopCoords);

            var marker = L.marker(currentStopCoords[0], { title: currentStopTitle, riseOnHover: true }).bindPopup(currentStopid);
            // var marker = L.marker([currentStopCoords[1], currentStopCoords[0]], { title: currentStopCoords[2], riseOnHover: true });
            marker.on('click', function (e) {
                var layer = e.target;
                console.log(layer.options);
            });
            // marker.addTo(markerLayer);
            editableLayers.addLayer(marker);
            // markers.push(marker);
        }
    }
</script>
{% endblock %}