{% extends "default.html" %}
{% load staticfiles %}
{% block head_title %}{{ block.super }} - Shape {{object}}{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="">
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin="">
    </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

<!-- <link rel="stylesheet" href="{% static 'css/testTable.css' %}" /> -->
<link rel="stylesheet" href="{% static 'css/testFlex.css' %}" />
{% if object.geometry %}
<script src="{% static 'javascript/getRoute.js' %}"></script>
{% endif %}
{% endblock %}

{% block page_title %}Shape {{object}}{% endblock %}

{% block page_top_content_elem %}
A <strong>Shape</strong> is the path a vehicle travels, on the road or on a track.
{% endblock %}

{% block page_middle_content %}
{% if object.geometry %}
<p class="text-center">
    <div id="map">
    </div>
</p>
{% else %}
<h2>Map</h2>
<p><em>
        This shape does not have a populated geometry. A shape must have at
        least 2 ShapePoints, and update_geometry() must be run on the shape.
    </em></p>
{% endif %}
<!-- <section>
    <h2>Attributes</h2>
    <!-- for demo wrap 
    <div class="tbl-header">
        <table cellpatding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>feed</th>
                    <th>id</th>
                    <th>shape id</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpatding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td data-th='feed'>
                        <a href="{% url 'feed_detail' pk=object.feed_id %}">Feed {{object.feed}}</a>
                    </td>
                    <td data-th='id'>{{object.id}}</td>
                    <td data-th='shape id'>{{object.shape_id|default:'<em>Not set</em>'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>  -->
<h2>Attributes</h2>
<dl>
    <dt>feed</dt>
    <dd><a href="{% url 'feed_detail' pk=object.feed_id %}">Feed {{object.feed}}</a></dd>
    <dt>id</dt>
    <dd>{{object.id}}</dd>
    <dt>shape_id</dt>
    <dd>{{object.shape_id|default:'<em>Not set</em>'}}</dd>
</dl>
{% include "multigtfs/extra_data.html" %}
<h2>Related Objects</h2>
<ul>
    <li><a href="{% url 'trip_by_shape_list' feed_id=object.id shape_id=object.id %}">{{object.trip_set.count}}
            Trip{{ object.trip_set.count|pluralize }}</a></li>
    <li><a href="{% url 'shapepoint_by_shape_list' feed_id=object.id shape_id=object.id %}">{{object.points.count}}
            ShapePoint{{ object.points.count|pluralize }}</a></li>
</ul>
{% endblock %}

{% block body_script %}
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin="">
    </script>
{% if object.geometry %}

<script>
    var coords = '{{ object.geometry.wkt}}'
    var route = new DrawRoute();
    route.baseMap.fitBounds(route.makeLine(coords).getBounds());
</script>
{% endif %}
{% endblock %}