{% extends "multigtfs/base.html" %}
{% load staticfiles %}
{% block head_title %}{{ block.super }} - ShapePoint {{object}}{% endblock %}
{% block head_extra %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin="">
<!-- <link rel="stylesheet" href="{% static 'css/testTable.css' %}" /> -->
<link rel="stylesheet" href="{% static 'css/testFlex.css' %}" />
<script src="{% static 'javascript/getRoute.js' %}"></script>
{% endblock %}
{% block page_title %}ShapePoint {{object}}{% endblock %}
{% block page_top_content_elem %}
A <strong>ShapePoint</strong> is a point of a shape
{% endblock %}
{% block page_middle_content %}
<p class="text-center">
    <div id="map">
    </div>
</p>
<!-- <section>
    <h2>Attributes</h2>
    <div class="tbl-header">
        <table cellpatding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>shape</th>
                    <th>id</th>
                    <th>point</th>
                    <th>sequence</th>
                    <th>traveled</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpatding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td data-th='shape'><a
                            href="{% url 'shape_detail' feed_id=object.shape.feed_id pk=object.shape_id %}">Shape
                            {{object.shape}}</a>
                    </td>
                    <td data-th='id'>{{object.id}}</td>
                    <td data-th='point'>{{object.point}}</td>
                    <td data-th='sequence'>{{object.sequence}}</td>
                    <td data-th='traveled'>{{object.traveled}} m</td>
                </tr>
            </tbody>
        </table>
    </div>
</section> -->
<h2>Attributes</h2>
<dl>
    <dt>shape</dt>
    <dd><a href="{% url 'shape_detail' feed_id=object.shape.feed_id pk=object.shape_id %}">Shape {{object.shape}}</a>
    </dd>
    <dt>id</dt>
    <dd>{{object.id}}</dd>
    <dt>point</dt>
    <dd>{{object.point}}</dd>
    <dt>sequence</dt>
    <dd>{{object.sequence}}</dd>
    <dt>traveled</dt>
    <dd>{{object.traveled}}</dd>
</dl>
{% include "multigtfs/extra_data.html" %}
{% endblock %}
{% block body_script %}
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin="">
    </script>
<script>
    var coordLat = '{{ object.point.y }}';
    var coordLon = '{{ object.point.x }}';
    var coords = '{{ object.shape.geometry.wkt }}';
    console.log(coords);

    console.log();
    var route = new DrawRoute();

    var point = (route.makePoint(coordLat, coordLon)._latlng);

    route.makeLine(coords, 0.3).getBounds();

    route.baseMap.flyTo([point.lat, point.lng], 15);

</script>
{% endblock %}